*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    min-width: 1184px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    line-height: 1.5;
    background-color: #fff;
}

.page-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background: #ffffff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
}
.page-header .header-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 1184px;
    height: 72px;
}
.page-header .header-container .header-logo{
    width: 259px;
    height: 36px;
}
.page-header .header-container .header-btn_box{
    display: flex;
    align-items: center;
}
.page-header .header-btn_box .btn_box-sign_in{
    width: 88px;
    height: 32px;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #1764e8;
    border: 1px solid #1764e8;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
}
.page-header .header-btn_box .btn_box-sign_in:hover{
    background-color: #c6e2ff ;
    outline: 0;
}
.page-header .header-btn_box .btn_box-request{
    width: 88px;
    height: 32px;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    /* 去除button的边框线 */
    border: none;
    border-radius: 2px;
    background: #1764e8;
    cursor: pointer;
}


.page-mainer{
    /* 去除头部遮挡 */
    padding-top: 72px;
}

.page-mainer .mainer-caption{
    padding-top: 96px;
    height: 418px;
    width: 100%;
    background:
        url(https://www.rencaimatou.cn/img/banner.c10dc550.png) no-repeat center center / contain,url(https://www.rencaimatou.cn/img/banner-side.97a04d37.png) repeat-x 0% 0% / auto 100%;   
}
.page-mainer .mainer-caption .caption-title{
    height: 40px;
    font-size: 32px;
    font-family: AlibabaPuHuiTiM;
    color: #ffffff;
    letter-spacing: 4px;
    line-height: 40px;
    text-align: center;
}
.page-mainer .mainer-caption .caption-subtitle{
    height: 28px;
    font-size: 20px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    margin-top: 12px;
}

.page-mainer .mainer-valuation{
    width: 100%;
    height: 418px;
    background: #ffffff;
}
.page-mainer .mainer-valuation .content-box{
    margin: 0 auto;
    /* 需要设置成border-box;不然.content-box会比.mainer-valuation大一圈 */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 1184px;
    height: 418px;
    padding: 64px 32px;
}
.mainer-valuation .content-box .box-right{
    flex: none;
    width: 656px;
    height: 290px;
    margin-left: 80px;
    background: url(https://www.rencaimatou.cn/img/icon-pass.a1506d52.png) no-repeat center / contain;
}
.mainer-valuation .content-box .box-left .box-left-title{
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 24px 0 0;
    font-size: 32px;
    font-family: AlibabaPuHuiTiB;
    color: #000000;
    font-weight: 500;
}
.mainer-valuation .content-box .box-left .box-left-list{
    margin-top: 32px;
    padding-left: 20px;
    margin-bottom: 0.5em;
}
.mainer-valuation .content-box .box-left .box-left-list .list-item{
    margin-top: 16px;
    line-height: 26px;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
}

.page-mainer .mainer-cooperate{
    width: 100%;
    height: 418px;
    background-color: rgb(246, 249, 254);
}
.page-mainer .mainer-cooperate .content-box{
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 1184px;
    height: 418px;
    padding: 64px 32px;
}
.mainer-cooperate .content-box .box-left{
    flex: none;
    width: 656px;
    height: 290px;
    margin-right: 80px;
    background: url(https://www.rencaimatou.cn/img/icon-step.d0560f66.png) no-repeat center / contain;
}
.mainer-cooperate .content-box .box-right .box-right-title{
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 24px 0 0;
    font-size: 32px;
    font-family: AlibabaPuHuiTiB;
    color: #000000;
    font-weight: 500;
}
.mainer-cooperate .content-box .box-right .box-right-list{
    margin-top: 32px;
    padding-left: 20px;
    margin-bottom: 0.5em;
}
.mainer-cooperate .content-box .box-right .box-right-list .list-item{
    margin-top: 16px;
    line-height: 26px;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
}

.mainer-product{
    box-sizing: border-box;
    width: 100%;
    height: 418px;
    padding-top: 72px;
    padding-bottom: 79px;
    background: #ffffff;
}
.page-mainer .mainer-product .product-title{
    margin-bottom: 0.5em;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-family: AlibabaPuHuiTiB;
    text-align: center;
    padding-bottom: 56px;
}
.page-mainer .mainer-product .product-content{
    display: flex;
    width: 1184px;
    margin: 0 auto;
    justify-content: space-between;
}
.mainer-product .product-content .content-item{
    text-align: center;
}
.mainer-product .product-content .content-item .item-title{
    display: block;
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}
.mainer-product .product-content .content-item .item-subtitle{
    display: block;
    font-family: PingFangSC-Regular, PingFang SC;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
}

.mainer-apply{
    width: 100%;
    height: 348px;
    padding-top: 72px;
    text-align: center;
    background: url(https://www.rencaimatou.cn/img/apply-bg.2c330740.png) repeat-x center / cover;
}
.mainer-apply .apply-title{
    height: 40px;
    font-size: 32px;
    font-family: AlibabaPuHuiTiB;
    color: #ffffff;
    line-height: 40px;
}
.mainer-apply .apply-subtitle{
    margin: 16px 0 32px;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 40px;
}
.mainer-apply .apply-btn{
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 52px;
    background: #ffffff;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: #1764e8;
    line-height: 28px;
}

 .page-footer{
    width: 100%;
    height: 144px;
}
 .page-footer .footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
    margin: 0 auto;
    width: 1184px;
    min-width: 1184px;
    height: 84px;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
}
 .page-footer .footer-top a{
    text-decoration: none;
} 
.page-footer .footer-top .footer-top-box span:first-child{
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-right: 12px;
}
.page-footer .footer-top .footer-top-box span:last-child{
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);
}
.page-footer .footer-bottom{
    text-align: center;
    height: 64px;
    line-height: 64px;
    margin-bottom: 1em;
}
 .page-footer .footer-bottom span{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
}
 .page-footer .footer-bottom a{
    text-decoration: none;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
}

