*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    position: relative;
    /* height: auto; */
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    line-height: 1.5;
    background-color: #fff;
}

.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background: #ffffff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
}
.page-header .header-logo{
    width: 259px;
    height: 36px;
    margin-left: calc((100% - 1184px) / 2);
}
.page-header .header-btn_box{
    display: flex;
    align-items: center;
    margin-right: calc((100% - 1184px) / 2);
}
.page-header .header-btn_box .btn_box-sign_in{
    width: 88px;
    height: 32px;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #1764e8;
    border: 1px solid #1764e8;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
}
.page-header .header-btn_box .btn_box-sign_in:hover{
    background-color: #c6e2ff ;
    outline: 0;
}
.page-header .header-btn_box .btn_box-request{
    width: 88px;
    height: 32px;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    /* 去除button的边框线 */
    border: none;
    border-radius: 2px;
    background: #1764e8;
    cursor: pointer;
    /* vertical-align: middle; */
}


.page-mainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 消除头部对section1的遮挡 */
    padding-top: 72px;
    width: 100%;
    height: 100%;
    min-width: 1184px;
}

.page-mainer .mainer-section_1{
    flex: none;
    height: 418px;
    width: 100%;
    min-width: 1184px;
    background:
        url(https://www.rencaimatou.cn/img/banner.c10dc550.png) no-repeat center center / contain,url(https://www.rencaimatou.cn/img/banner-side.97a04d37.png) repeat-x 0% 0% / auto 100%;   
}
.page-mainer .mainer-section_1 .section_1-title{
    margin-top: 96px;
    height: 40px;
    font-size: 32px;
    font-family: AlibabaPuHuiTiM;
    color: #ffffff;
    letter-spacing: 4px;
    line-height: 40px;
    text-align: center;
}
.page-mainer .mainer-section_1 .section_1-subtitle{
    height: 28px;
    font-size: 20px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    margin-top: 12px;
}

.page-mainer .mainer-section_2{
    flex: none;
    width: 100%;
    min-width: 1184px;
    height: 418px;
    background: #ffffff;
}
.page-mainer .mainer-section_2 .section_2-box{
    margin: 0 auto;
    /* 需要设置成border-box;不然.section_2-box会比.mainer-section_2大一圈 */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 1184px;
    height: 418px;
    padding: 64px 32px;
}
.mainer-section_2 .section_2-box .box-right{
    flex: none;
    width: 656px;
    height: 290px;
    margin-left: 80px;
    background: url(https://www.rencaimatou.cn/img/icon-pass.a1506d52.png) no-repeat center / contain;
}
.mainer-section_2 .section_2-box .box-left .left-title{
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 24px 0 0;
    font-size: 32px;
    font-family: AlibabaPuHuiTiB;
    color: #000000;
    font-weight: 500;
}
.mainer-section_2 .section_2-box .box-left .left-list{
    margin-top: 32px;
    padding-left: 20px;
    margin-bottom: 0.5em;
}
.mainer-section_2 .section_2-box .box-left .left-list .list-item{
    margin-top: 16px;
    line-height: 26px;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
}

.page-mainer .mainer-section_3{
    flex: none;
    width: 100%;
    min-width: 1184px;
    height: 418px;
    background-color: rgb(246, 249, 254);
}
.page-mainer .mainer-section_3 .section_3-box{
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 1184px;
    height: 418px;
    padding: 64px 32px;
}
.mainer-section_3 .section_3-box .box-left{
    flex: none;
    width: 656px;
    height: 290px;
    margin-right: 80px;
    background: url(https://www.rencaimatou.cn/img/icon-step.d0560f66.png) no-repeat center / contain;
}
.mainer-section_3 .section_3-box .box-right .right-title{
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 24px 0 0;
    font-size: 32px;
    font-family: AlibabaPuHuiTiB;
    color: #000000;
    font-weight: 500;
}
.mainer-section_3 .section_3-box .box-right .right-list{
    margin-top: 32px;
    padding-left: 20px;
    margin-bottom: 0.5em;
}
.mainer-section_3 .section_3-box .box-right .right-list .list-item{
    margin-top: 16px;
    line-height: 26px;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
}

.mainer-section_4{
    box-sizing: border-box;
    flex: none;
    width: 100%;
    min-width: 1184px;
    height: 418px;
    padding-top: 72px;
    padding-bottom: 79px;
    background: #ffffff;
}
.page-mainer .mainer-section_4 .section_4-title{
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-family: AlibabaPuHuiTiB;
    text-align: center;
    padding-bottom: 56px;
}
.page-mainer .mainer-section_4 .section_4-content{
    display: flex;
    width: 1184px;
    margin: 0 auto;
    justify-content: space-between;
}
.mainer-section_4 .section_4-content .content-item{
    text-align: center;
}
.mainer-section_4 .section_4-content .content-item .item-title{
    display: block;
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}
.mainer-section_4 .section_4-content .content-item .item-subtitle{
    display: block;
    font-family: PingFangSC-Regular, PingFang SC;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
}

.mainer-section_5{
    flex: none;
    width: 100%;
    height: 348px;
    text-align: center;
    background: url(https://www.rencaimatou.cn/img/apply-bg.2c330740.png) repeat-x center / cover;
}
.mainer-section_5 .section_5-title{
    margin-top: 72px;
    height: 40px;
    font-size: 32px;
    font-family: AlibabaPuHuiTiB;
    color: #ffffff;
    line-height: 40px;
}
.mainer-section_5 .section_5-subtitle{
    margin: 16px 0 32px;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 40px;
}
.mainer-section_5 .section_5-btn{
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 52px;
    background: #ffffff;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: #1764e8;
    line-height: 28px;
}

 .page-footer{
    width: 100%;
    min-width: 1184px;
    height: 144px;
    align-self: flex-end;
}
 .page-footer .footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
    margin: 0 auto;
    width: 1184px;
    min-width: 1184px;
    height: 84px;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
}
 .page-footer .footer-top a{
    text-decoration: none;
} 
.page-footer .footer-top .footer-top-box span:first-child{
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-right: 12px;
}
.page-footer .footer-top .footer-top-box span:last-child{
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);
}
.page-footer .footer-bottom{
    text-align: center;
    height: 64px;
    line-height: 64px;
    margin-bottom: 1em;
}
 .page-footer .footer-bottom span{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
}
 .page-footer .footer-bottom a{
    text-decoration: none;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
}

